/*
 * 
 * External function header file for +UNAME+.fm
 */

#ifndef _+UNAME+_H_
#define _+UNAME+_H_

#ifdef _NO_PROTO

+FUNCDECLKR+

#else /* _N0_PROTO */

#ifdef __cplusplus || defined(c_plusplus)
extern "C" {                                    /* for C++ V2.0 */
#endif

+FUNCDECLANSCI+

#ifdef __cplusplus || defined(c_plusplus)
}                                               /* for C++ V2.0 */
#endif

#endif /* _N0_PROTO */

#endif /* end of _+UNAME+_H_  Dont add any thing after this */

