/*
 * 
 * This file contains the user supplied functions for +SNAME+
 * which must be supplied by the application programmer.
 */
 
/*
 * Includes
 */
#include <Fm.h>
#include "+UNAME+.h"

extern Widget Toplevel;

/*
 * Replace these dummy functions with your own.
 */

+FUNCTIONS+
    
/********************** end of +UNAME+_usr.c *******************************/

